<div class="d-flex flex-row">
    <div class="p-3">תביעה מספר:  {{ser.Process.superClaim.superClaimNum}}</div>
    <div class="p-3">מצב תביעה:  {{ser.Process.superClaim.superClaimStatus.value}}</div>
    <div class="p-3"><button type="button" class="btn btn-primary">ריענון תהליך</button>
    </div>

</div>
<app-information-in-the-process ></app-information-in-the-process>
<app-all-contacts></app-all-contacts>
<app-contacts></app-contacts>
<div class="p-3"><button type="button" class="btn btn-primary">>המשך</button>
